
    @font-face {
        font-family: "Budmo";
        src: url("budmo.ttf");
    }

    p {
        font-family: "Budmo";
        font-size: 150%;
    }

    .bronce-header {
        font-family: "Budmo";
        src: url("budmo.ttf");
        position: relative;
        margin-top: 0;
        margin-bottom: .25em;
        color: white;
        font-family: 'Baloo Thambi', cursive;
        font-size: 4em;
        text-transform: uppercase;
        /*text-shadow:
    0 0 4px rgb(255,255,255),
    0 0 8px rgb(255,0,0),
    0 0 16px rgb(255,0,0),
    0 0 24px rgb(255,0,80),
    0 0 48px rgb(255,0,80);*/
    }

    .neon-header {
        font-family: "Budmo";
        src: url("budmo.ttf");
        position: relative;
        margin-top: 0;
        margin-bottom: .25em;
        color: white;
        font-family: 'Baloo Thambi', cursive;
        font-size: 4em;
        text-transform: uppercase;
        /*text-shadow:
    0 0 4px rgb(255,255,255),
    0 0 8px rgb(255,0,0),
    0 0 16px rgb(255,0,0),
    0 0 24px rgb(255,0,80),
    0 0 48px rgb(255,0,80);*/
    }

    @keyframes neon-glow {
        0% {
            color: rgb(255, 255, 255);
            text-shadow: 0 2px 0 rgb(220, 220, 220),
            0 0 4px rgb(255, 255, 255),
            0 0 4px transparent,
            0 0 8px rgb(255, 1, 0),
            0 0 16px rgb(255, 0, 0),
            0 0 24px rgb(255, 0, 80),
            0 0 48px rgb(255, 0, 80),
            6px 20px 1px rgba(0, 0, 0, .75);
        }
        100% {
            color: #E1E1E1;
            color: rgba(255, 255, 255, .15);
            text-shadow: 0 2px 0 rgb(220, 220, 220),
            0 0 4px rgb(255, 255, 255),
            0 0 16px rgb(255, 255, 255),
            0 0 16px rgb(230, 171, 9),
            0 0 32px rgb(236, 156, 8),
            0 0 60px rgb(235, 97, 6),
            0 0 100px rgb(240, 90, 9),
            11px 25px 1px rgba(0, 0, 0, .75);
        }
    }

    @keyframes bronce-glow {
        0% {
            color: rgb(255, 255, 255);
            text-shadow: 0 2px 0 rgb(220, 220, 220),
            0 0 4px rgb(255, 255, 255),
            0 0 16px rgb(255, 255, 255),
            0 0 16px rgb(230, 171, 9),
            0 0 32px rgb(236, 156, 8),
            0 0 60px rgb(235, 97, 6),
            0 0 100px rgb(240, 90, 9),
            6px 20px 1px rgba(0, 0, 0, .75);
        }
        100% {
            color: #E1E1E1;
            color: rgba(255, 255, 255, .15);
            text-shadow: 0 2px 0 rgb(220, 220, 220),
            0 0 4px rgb(255, 255, 255),
            0 0 16px rgb(255, 255, 255),
            0 0 16px rgb(255, 0, 0),
            0 0 32px rgb(255, 0, 0),
            0 0 60px rgb(255, 0, 80),
            0 0 100px rgb(255, 0, 80),
            11px 25px 1px rgba(0, 0, 0, .75);
        }
    }

    .anim-bronce-glow {
        text-align: center;
        font-family: "Budmo";
        src: url("budmo.ttf");
        animation-name: neon-glow;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0, 1.31, 1, -0.48);
        animation-iteration-count: infinite;
    }

    .anim-neon-glow {
        text-align: center;
        font-family: "Budmo";
        src: url("budmo.ttf");
        animation-name: neon-glow;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0, 1.31, 1, -0.48);
        animation-iteration-count: infinite;
    }


    .sombra {
        -moz-box-shadow: 10px 10px 5px #000000;
        -webkit-box-shadow: 10px 10px 5px #000000;
        box-shadow: 10px 10px 5px #000000;
    }

    .bordesDorados {

        border: dotted 7px #000000;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .bronce {
        letter-spacing: 10px;
        background-image: url("https://t1.pixers.pics/img-b5fce81d/wall-murals-bronze-or-copper-metal-texture.jpg?H4sIAAAAAAAAAyWNUQrCMBBEr9OCdLcb4yY5QH97hJLWrEa0hiSCeHojfs3wmMfAay9eAki815CLy6HET-gY8YC9k2d--Nrd0qWHa62pOICihhTfbdtiK_Dv0ASYZlAjWAJkMPRDyzSr0RKyoUUJaZaTlpECrey1bOaIntir1Vh7HtrLF6c9zD-OAAAA");

    }

    .oro {
        letter-spacing: 10px;
        background-image: url(" https://s3.pixers.pics/pixers/700/FO/83/16/95/63/700_FO83169563_5524b4fab3d61e7db8369983bf754113.jpg");

    }

    .silver {
        letter-spacing: 10px;
        background-image: url("https://texturex.com/wp-content/uploads/2018/03/texturex-brushed-titanium-aluminum-silver-metal-stock-texture-4-500x375.jpg");

    }